<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="edu.cop4656.mdc.sc001CurrencyConverter">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="sc001CurrencyConverter">
	</application>
</manifest>
